body{
    font-family: "Times New Roman", sans-serif;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    font-size: 64px;
    padding: 10px;
}
h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}
p{
    font-size: 24px;
    padding-top: 15px;
}
img {
    display: block;
    margin: 0 auto;
    width: 550px;
}
div{
    min-height: 150px;
    padding: 25px;
}
#red {
    background-color: red;
    text-align: right;
}
#blue {
    background-color: blue;
    text-align: left;
}
#yellow {
    background-color: yellow;
    text-align: right;
}
#yellow h2 {
    color: black;
    text-shadow: 4px 4px 2px #c7e2c7;
}
#yellow p { 
    color: black;
}
#green {
    background-color: #008000;
    text-align: left;
}
footer {
    text-align: center;
    padding-bottom: 10px;
}